
/* Home - OHC */
#n349_14674{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

/* white */
#n349_14675{
    left: -141px;
    width: 754.297px;
    top: 1651px;
    height: 738.006px;
}

/* Rectangle 96 */
#n349_14676{
    background: rgb(50, 68, 87);
    left: -123px;
    width: 555px;
    top: -53.9556px;
    height: 292px;
}


/* Rectangle 96 */
#n349_14678{
    background: rgb(69, 161, 252);
    left: -122.892px;
    width: 554.892px;
    top: -54px;
    height: 292.089px;
}

/* image 16 */
#n445_1{
    background-image: url("https://s3-alpha-sig.figma.com/img/b67b/a9b6/4bb026bca546ae684a1d7b12afcc4286?Expires=1580083200&Signature=a7eSGLRhJlgIosUyqYScCuvH7x72mq1GHqONfEmQ--Hyyl-96yOVebHdwtIAHVSbXkelOhge9MJqRnzdNNuq3mACF47oZZVcr18EVhP1a-Y93eMxKOQi9BmN66rVHJrmF~W7fOpRkucwI5CNXzonkoKLAHwrhbXy9DuoIxnYZYdoQ3CjGpXqXuHgBn1KM4I0pRVGkQB9ieCVHLFihxhPDB~li3cbO3NT-C8j6qR5c4YNqDtRIoUNDNsQlRwH6Z08bsyUc0bid0qvpTiOa9VJbPKMAT0Qinjfy0-JMxbxaURleJXTj3g9C0ImS4BkVs5hwwo7vzcYmDd1We6l9euB~g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: -75.0497px;
    width: 459.956px;
    top: -54px;
    height: 292.089px;
}


/* menu 1 */
#n349_14686{
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: 320px;
    top: 23px;
}



/* Vector */
#n349_14689{
    right: 0.00026226%;
    top: 25%;
    bottom: 68.75%;
}

/* Vector */
#n349_14690{
    right: 0.00026226%;
    top: 46.87%;
    bottom: 46.88%;
}

/* Vector */
#n349_14691{
    left: 31.25%;
    right: 0.000230471%;
    top: 68.75%;
    bottom: 25%;
}

/* Rectangle 37 */
#n349_14696{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(69, 161, 252, 0.1) 0px 4px 16px 0px;
    left: 33px;
    width: 295px;
    top: 112px;
    height: 214px;
}

/* Search thousands of diseases, symptoms, drugs, excercise and food */
#n349_14693{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 261px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 63px;
    left: 50px;
    top: 141px;
}

/* What'92s that health need? Learn all about it and get help. */
#n349_14694{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 252px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 32px;
    left: 54px;
    top: 211px;
}

/* Search for discussions, news, diseases, symptoms */
#n349_14697{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(154, 154, 154);
    vertical-align: middle;
    justify-content: flex-start;
    width: 215.89px;
    transform: translate(0px, -2.316px);
    line-height: 15.975px;
    height: 13.7073px;
    left: 56.8536px;
    top: 285.271px;
}

/* Rectangle 23 */
#n349_14698{
    border-radius: 4px;
    box-shadow: rgb(138, 140, 141) 0px 0px 0px 1px inset;
    left: 50px;
    width: 260.439px;
    top: 270.707px;
    height: 41.122px;
}

/* Subtract */
#n349_14699{
    left: 276.171px;
    width: 27.4146px;
    top: 277.561px;
    height: 27.4146px;
}

/* About */
#n349_14706{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    justify-content: flex-start;
    width: 48px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 21px;
    left: 152px;
    top: 366px;
}

/* Lafyah is intended for everyone seeking information about health related issues. At Lafyah, premium healthcare for everyone is our utmost concern therefore information on this website can be used to stay healthy, seek treatment and support, and even self-address a variety of complaints. */
#n349_14707{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 291px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 96px;
    left: 30px;
    top: 395px;
}

/* Rectangle 26 */
#n349_14708{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 35px;
    width: 136.07px;
    top: 614.414px;
    height: 60px;
}

/* Health Community created */
#n349_14709{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 79px;
    transform: translate(0px, 0.0839997px);
    line-height: 10.35px;
    height: 20px;
    left: 85px;
    top: 640px;
}

/* 75,000 */
#n349_14710{
    font-family: Relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(7, 75, 120);
    vertical-align: middle;
    justify-content: flex-start;
    width: 45px;
    transform: translate(0px, -1.86027px);
    line-height: 20.7663px;
    height: 21px;
    left: 84.7561px;
    top: 620.121px;
}

/* Ellipse 8 */
#n349_14711{
    width: 29.2683px;
    height: 29.2683px;
    left: 47px;
    top: 629px;
}

/* Rectangle 14 */
#n349_14712{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 35px;
    width: 136.07px;
    top: 531px;
    height: 60px;
}

/* Number of Searches */
#n349_14713{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 78px;
    transform: translate(0px, 0.0839997px);
    line-height: 10.35px;
    height: 20px;
    left: 85px;
    top: 556px;
}

/* 750,000 */
#n349_14714{
    font-family: Relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(7, 75, 120);
    vertical-align: middle;
    justify-content: flex-start;
    width: 54px;
    transform: translate(0px, -1.86027px);
    line-height: 20.7663px;
    height: 21px;
    left: 84.7561px;
    top: 536.707px;
}

/* Ellipse 9 */
#n349_14715{
    width: 29.2683px;
    height: 29.2683px;
    left: 46.7073px;
    top: 542.707px;
}

/* Rectangle 28 */
#n349_14716{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 182.927px;
    width: 136.07px;
    top: 614.414px;
    height: 60px;
}

/* Number of Health Payment plans */
#n349_14717{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 77px;
    transform: translate(0px, 0.0839997px);
    line-height: 10.35px;
    height: 20px;
    left: 233px;
    top: 642px;
}

/* 7,000 */
#n349_14718{
    font-family: Relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(7, 75, 120);
    vertical-align: middle;
    justify-content: flex-start;
    width: 36px;
    transform: translate(0px, -1.86027px);
    line-height: 20.7663px;
    height: 21px;
    left: 232.683px;
    top: 622.316px;
}

/* Ellipse 10 */
#n349_14719{
    width: 29.2683px;
    height: 29.2683px;
    left: 194.634px;
    top: 628.316px;
}

/* Rectangle 27 */
#n349_14720{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 182.927px;
    width: 136.07px;
    top: 531px;
    height: 60px;
}

/* Connected facilities */
#n349_14721{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 70px;
    transform: translate(0px, 0.0839997px);
    line-height: 10.35px;
    height: 20px;
    left: 233px;
    top: 556px;
}

/* 200 */
#n349_14722{
    font-family: Relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(7, 75, 120);
    vertical-align: middle;
    justify-content: flex-start;
    width: 26px;
    transform: translate(0px, -1.86027px);
    line-height: 20.7663px;
    height: 21px;
    left: 232.683px;
    top: 536.707px;
}

/* Ellipse 11 */
#n349_14723{
    width: 29.2683px;
    height: 29.2683px;
    left: 194.634px;
    top: 542.707px;
}


/* Rectangle 22 */
#n349_14725{
    background-image: url("https://s3-alpha-sig.figma.com/img/3012/203a/86eab929ed1209d322f46a7cf6d2c0fe?Expires=1580083200&Signature=dd8Qv0djy-LrzQZoOWlfU4dfV8EQqKVJeW7DnltAUI-e0iWrHjF8xe4o5iD-ZQHZJqywS13QkaTBEV-wwqQh~IliUvFsfPI7Z2ntB1vYWXYa8DRgfpn6IGzLDJUBDoL65PSWNgGSLUf4qcXNiZVpaTy0mJ5s6IKwrCAZH2HNM8iQ7jHrKryK7k-xTD-dgJy6XUmivVsxau6Cop-Uk5K4rf~-G60DLADDrKRYtuOzIphTaIexymnOZ0~cGG4tYiRZ8KvUvikVkrxqK7vzU63tNrYG9gGSbJNU-l4qfuQPzoeKQbhEn6eNnArPSX6m091o74tY108BEuxhpcW8OpgVFA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 4px;
    box-shadow: rgb(238, 238, 238) 0px 0px 0px 1px inset;
    left: 60px;
    width: 113px;
    top: 1769px;
    height: 156px;
}

/* Rectangle 29 */
#n349_14726{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 60px;
    width: 113px;
    top: 1843px;
    height: 82px;
}

/* READ MORE */
#n349_14727{
    font-family: Relative;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(69, 161, 252);
    vertical-align: middle;
    justify-content: flex-start;
    width: 44px;
    transform: translate(0px, -1.06301px);
    line-height: 11.8664px;
    height: 12px;
    left: 95px;
    top: 1899.68px;
}

/* Rectangle 38 */
#n349_14728{
    border-radius: 2px;
    box-shadow: rgb(69, 161, 252) 0px 0px 0px 1px inset;
    left: 81px;
    width: 70.7px;
    top: 1895.18px;
    height: 20.5672px;
}

/* Breast Cancer awareness month in October */
#n349_14729{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 92.5525px;
    transform: translate(0px, -0.5304px);
    line-height: 11.79px;
    height: 25.709px;
    left: 70px;
    top: 1853.33px;
}


/* Rectangle 22 */
#n349_14731{
    background: url("https://s3-alpha-sig.figma.com/img/3012/203a/86eab929ed1209d322f46a7cf6d2c0fe?Expires=1580083200&Signature=dd8Qv0djy-LrzQZoOWlfU4dfV8EQqKVJeW7DnltAUI-e0iWrHjF8xe4o5iD-ZQHZJqywS13QkaTBEV-wwqQh~IliUvFsfPI7Z2ntB1vYWXYa8DRgfpn6IGzLDJUBDoL65PSWNgGSLUf4qcXNiZVpaTy0mJ5s6IKwrCAZH2HNM8iQ7jHrKryK7k-xTD-dgJy6XUmivVsxau6Cop-Uk5K4rf~-G60DLADDrKRYtuOzIphTaIexymnOZ0~cGG4tYiRZ8KvUvikVkrxqK7vzU63tNrYG9gGSbJNU-l4qfuQPzoeKQbhEn6eNnArPSX6m091o74tY108BEuxhpcW8OpgVFA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA") center center / cover no-repeat rgb(216, 216, 216);
    border-radius: 4px;
    box-shadow: rgb(238, 238, 238) 0px 0px 0px 1px inset;
    left: 177px;
    width: 113px;
    top: 1769px;
    height: 156px;
}

/* Rectangle 29 */
#n349_14732{
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
    left: 177px;
    width: 113px;
    top: 1843px;
    height: 82px;
}

/* READ MORE */
#n349_14733{
    font-family: Relative;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(69, 161, 252);
    vertical-align: middle;
    justify-content: flex-start;
    width: 44px;
    transform: translate(0px, -1.06301px);
    line-height: 11.8664px;
    height: 12px;
    left: 212px;
    top: 1899.68px;
}

/* Rectangle 38 */
#n349_14734{
    border-radius: 2px;
    box-shadow: rgb(69, 161, 252) 0px 0px 0px 1px inset;
    left: 198px;
    width: 70.7px;
    top: 1895.18px;
    height: 20.5672px;
}

/* Ogun government deworms over 800,000 school children */
#n349_14735{
    font-family: Relative;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 98px;
    transform: translate(0px, -0.5304px);
    line-height: 11.79px;
    height: 36px;
    left: 185px;
    top: 1852px;
}

/* Latest Health News */
#n349_14736{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    justify-content: flex-start;
    width: 159px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 21px;
    left: 101px;
    top: 1722px;
}

/* Our Partners */
#n349_14739{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    justify-content: flex-start;
    width: 103px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 21px;
    left: 129px;
    top: 1990px;
}


/* Rectangle 30 */
#n349_14745{
    background: rgb(69, 161, 252);
    left: -174px;
    width: 439px;
    top: 2156px;
    height: 155px;
}

/* It feels great getting all my health information in one place. No need to search multiple sites over and over again. */
#n349_14746{
    font-family: Relative;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 134px;
    transform: translate(0px, -1.6832px);
    line-height: 13.32px;
    height: 52px;
    left: 36px;
    top: 2231px;
}

/* Olaniyi Ademosu */
#n349_14747{
    font-family: Relative;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    justify-content: flex-start;
    width: 98px;
    transform: translate(0px, -3.34533px);
    line-height: 23.075px;
    height: 23px;
    left: 36px;
    top: 2205px;
}


/* Ellipse 12 */
#n349_14749{
    width: 60px;
    height: 60px;
    left: 191px;
    top: 2197px;
}

/* Ellipse 13 */
#n349_14750{
    width: 45.7426px;
    height: 45.7426px;
    left: 198.129px;
    top: 2204.13px;
}

/* Testimonials */
#n349_14751{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    justify-content: flex-start;
    width: 95px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 21px;
    left: 133px;
    top: 2110px;
}


/* Contact */
#n349_14752{
    font-family: Relative;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    justify-content: flex-start;
    width: 50px;
    transform: translate(0px, -0.423926px);
    line-height: 16.228px;
    height: 16px;
    left: 187px;
    top: 2393px;
}

/* Privacy Statement */
#n349_14753{
    font-family: Relative;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    justify-content: flex-start;
    width: 110px;
    transform: translate(0px, -0.423926px);
    line-height: 16.228px;
    height: 16px;
    left: 187px;
    top: 2510px;
}

/* Disclaimer */
#n349_14754{
    font-family: Relative;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    justify-content: flex-start;
    width: 62px;
    transform: translate(0px, -0.423926px);
    line-height: 16.228px;
    height: 16px;
    left: 19px;
    top: 2510px;
}

/* Providing easy access to the best healthcare for you and your loved ones */
#n349_14755{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 140px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 48px;
    left: 21px;
    top: 2430px;
}

/* At Lafyah, we understand the importance of privacy of personal information is to our users. Our Privacy Policy will tell you what information we collect about you and about your use of Lafyah and its services. It will explain the choices you have about how your personal information is used and how we protect that information. */
#n349_14756{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 145px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 240px;
    left: 187px;
    top: 2547px;
}

/* Health Financing Disease Directory Drug Directory Connect */
#n349_14757{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 134px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 64px;
    left: 187px;
    top: 2430px;
}

/*'a9 2019 Lafyah. */
#n349_14758{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    justify-content: flex-start;
    width: 83px;
    transform: translate(0px, -3.088px);
    line-height: 21.3px;
    height: 21px;
    left: 19px;
    top: 2867px;
}

/* All information posted on the site has been written with great care. You will find on this site the generally applicable explanations and advice that correspond to scientific guidelines. Remember when reading that your health situation may be different from the texts described. The information is not intended to replace a consultation with the general practitioner. For personal advice, please contact your Doctor. */
#n349_14759{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    justify-content: flex-start;
    width: 151px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 288px;
    left: 19px;
    top: 2547px;
}

/* image 5 */
#n349_14760{
    background-image: url("https://s3-alpha-sig.figma.com/img/78cb/dc3e/1a2681c958f1801e7ab23d9a8b56e532?Expires=1580083200&Signature=hhHhFK2m2QNwoycM3VBa5ucD2EveyrACOPFkUV8y9DQMI5QcU~Icpwh4Ir4fERhmdaZ~p-dsgwK8upOCbt2WaU6SaKnyKhNf8LS3HwP5UbXszIkHhY1ICR63d-BXteSYwHSwcEbXjYesyynJqgQP3kQIO1SFZir5M64cl8iTrisEFkmiKnZRyLMlyRcsjqdYCI2o4jeV9yPCSybZBlj8uKGBuEIanejlk-tlajW1c1IGJ1FHYqkA47BhC0r59AyIrZ36J5nprQsi6pcjPhARe6ynym9AmYxmpzQRowvNtPAtKz~VWsS4Grq8ksZY6QlTK5fkBH84XeF2QoLe9dJILw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 19px;
    width: 76px;
    top: 2391px;
    height: 23px;
}

/* What we offer */
#n349_14761{
    font-family: Relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(0, 74, 122);
    vertical-align: middle;
    justify-content: flex-start;
    width: 112px;
    transform: translate(0px, -0.554365px);
    line-height: 21.2212px;
    height: 21px;
    left: 124px;
    top: 735px;
}

/* Find a Hospital */
#n349_14762{
    font-family: Relative;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    justify-content: flex-start;
    width: 101px;
    transform: translate(0px, -1.99315px);
    line-height: 22.2496px;
    height: 22px;
    left: 125px;
    top: 872px;
}

/* Finding any health facility has been made easier. With our Find a Hospital feature, you can access the hospital closest to you; see information on the services they offer, the costs, and even patient ratings. From here, you may contact these facilities directly to book appointments and request more information. */
#n349_14763{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 313px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 97px;
    left: 21px;
    top: 904px;
}

/* Search for a Disease or Symptom */
#n349_14764{
    font-family: Relative;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 328px;
    transform: translate(0px, -1.99315px);
    line-height: 22.2496px;
    height: 22px;
    left: 16px;
    top: 1136px;
}

/* With Lafyah, no need to go see the doctor for every single issue anymore simply search for your symptoms and how best it can be treated. */
#n349_14765{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 279px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 48px;
    left: 40px;
    top: 1168px;
}

/* Get Health Financing Advice */
#n349_14766{
    font-family: Relative;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 328px;
    transform: translate(0px, -1.99315px);
    line-height: 22.2496px;
    height: 22px;
    left: 16px;
    top: 1351px;
}

/* Getting premium healthcare is important which is why we have created diverse health funding options to make getting the best healthcare possible for you and your loved ones. */
#n349_14767{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 279px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 64px;
    left: 40px;
    top: 1383px;
}

/* Health Provider Directory your favourite hospitals and facilities */
#n349_14768{
    font-family: Relative;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgb(50, 68, 87);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 192px;
    transform: translate(0px, -1.99315px);
    line-height: 22.2496px;
    height: 22px;
    left: 83px;
    top: 1566px;
}

/* Join a community that cares about your health! Meet with users with similar health conditions and learn how they live healthy and fulfilling lives every day. */
#n349_14769{
    font-family: Relative;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgb(131, 138, 145);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    width: 279px;
    transform: translate(0px, -0.7072px);
    line-height: 15.72px;
    height: 64px;
    left: 40px;
    top: 1598px;
}


/* Ellipse 4 */
#n349_14771{
    width: 60px;
    height: 60px;
    left: 150px;
    top: 788px;
}


/* Vector */
#n349_14773{
    background: rgb(255, 255, 255);
    left: 160.591px;
    width: 9.70464px;
    top: 810.535px;
    height: 26.8743px;
}

/* Vector */
#n349_14774{
    background: rgb(255, 255, 255);
    left: 170.296px;
    width: 19.4093px;
    top: 798.591px;
    height: 38.8186px;
}

/* Vector */
#n349_14775{
    background: rgb(69, 161, 252);
    left: 174.409px;
    width: 3.37553px;
    top: 815.89px;
    height: 3.37553px;
}

/* Vector */
#n349_14776{
    background: rgb(69, 161, 252);
    left: 182.215px;
    width: 3.37553px;
    top: 815.89px;
    height: 3.37553px;
}

/* Vector */
#n349_14777{
    background: rgb(255, 255, 255);
    left: 189.704px;
    width: 9.70464px;
    top: 810.535px;
    height: 26.8743px;
}

/* Vector */
#n349_14778{
    background: rgb(69, 161, 252);
    left: 192.869px;
    width: 3.37553px;
    top: 815.891px;
    height: 3.37553px;
}

/* Vector */
#n349_14779{
    background: rgb(69, 161, 252);
    left: 192.869px;
    width: 3.37553px;
    top: 823.213px;
    height: 3.37553px;
}

/* Vector */
#n349_14780{
    background: rgb(69, 161, 252);
    left: 192.869px;
    width: 3.37553px;
    top: 830.535px;
    height: 3.37553px;
}

/* Vector */
#n349_14781{
    background: rgb(69, 161, 252);
    left: 163.756px;
    width: 3.37553px;
    top: 815.89px;
    height: 3.37553px;
}

/* Vector */
#n349_14782{
    background: rgb(69, 161, 252);
    left: 163.756px;
    width: 3.37553px;
    top: 823.213px;
    height: 3.37553px;
}

/* Vector */
#n349_14783{
    background: rgb(69, 161, 252);
    left: 163.756px;
    width: 3.37553px;
    top: 830.535px;
    height: 3.37553px;
}

/* Vector */
#n349_14784{
    background: rgb(69, 161, 252);
    left: 175.349px;
    width: 9.30295px;
    top: 823.972px;
    height: 13.438px;
}

/* Vector */
#n349_14785{
    background: rgb(160, 186, 211);
    left: 175.78px;
    width: 8.43882px;
    top: 804.563px;
    height: 8.43882px;
}


/* Vector */
#n349_14787{
    background: rgb(50, 68, 87);
    left: 175.189px;
    width: 9.62025px;
    top: 803.973px;
    height: 9.62026px;
}

/* Vector */
#n349_14788{
    background: rgb(50, 68, 87);
    left: 189.114px;
    width: 1.18143px;
    top: 804.597px;
    height: 2.57384px;
}

/* Vector */
#n349_14789{
    background: rgb(50, 68, 87);
    left: 173.818px;
    width: 4.55696px;
    top: 815.3px;
    height: 4.55696px;
}

/* Vector */
#n349_14790{
    background: rgb(50, 68, 87);
    left: 181.625px;
    width: 4.55696px;
    top: 815.3px;
    height: 4.55696px;
}

/* Vector */
#n349_14791{
    background: rgb(50, 68, 87);
    left: 160px;
    width: 40px;
    top: 798px;
    height: 40px;
}

/* Vector */
#n349_14792{
    background: rgb(50, 68, 87);
    left: 192.278px;
    width: 4.55696px;
    top: 815.3px;
    height: 4.55696px;
}

/* Vector */
#n349_14793{
    background: rgb(50, 68, 87);
    left: 192.278px;
    width: 4.55696px;
    top: 822.622px;
    height: 4.55696px;
}

/* Vector */
#n349_14794{
    background: rgb(50, 68, 87);
    left: 192.278px;
    width: 4.55696px;
    top: 829.943px;
    height: 4.55696px;
}

/* Vector */
#n349_14795{
    background: rgb(50, 68, 87);
    left: 163.165px;
    width: 4.55696px;
    top: 815.3px;
    height: 4.55696px;
}

/* Vector */
#n349_14796{
    background: rgb(50, 68, 87);
    left: 163.165px;
    width: 4.55696px;
    top: 822.622px;
    height: 4.55696px;
}

/* Vector */
#n349_14797{
    background: rgb(50, 68, 87);
    left: 163.165px;
    width: 4.55696px;
    top: 829.943px;
    height: 4.55696px;
}


/* Ellipse 5 */
#n349_14799{
    width: 60px;
    height: 60px;
    left: 150px;
    top: 1058px;
}


/* Vector */
#n349_14801{
    background: rgb(69, 161, 252);
    left: 186.216px;
    width: 10.1021px;
    top: 1095.22px;
    height: 10.1021px;
}

/* Vector */
#n349_14802{
    background: rgb(160, 186, 211);
    left: 183.287px;
    width: 5.82627px;
    top: 1092.29px;
    height: 5.82627px;
}

/* Vector */
#n349_14803{
    background: rgb(255, 255, 255);
    left: 162.684px;
    width: 25.9766px;
    top: 1071.68px;
    height: 25.9766px;
}

/* Vector */
#n349_14804{
    background: rgb(223, 234, 251);
    left: 165.418px;
    width: 20.5078px;
    top: 1074.42px;
    height: 20.5078px;
}

/* Vector */
#n349_14805{
    background: rgb(50, 68, 87);
    left: 162px;
    width: 35px;
    top: 1071px;
    height: 35px;
}

/* Vector */
#n349_14806{
    background: rgb(50, 68, 87);
    left: 164.734px;
    width: 21.875px;
    top: 1073.73px;
    height: 21.875px;
}

/* Vector */
#n349_14807{
    background: rgb(50, 68, 87);
    left: 174.988px;
    width: 8.38996px;
    top: 1076.47px;
    height: 6.19766px;
}

/* Vector */
#n349_14808{
    background: rgb(50, 68, 87);
    left: 182.508px;
    width: 1.36719px;
    top: 1083.99px;
    height: 1.36719px;
}


/* Ellipse 6 */
#n349_14810{
    width: 60px;
    height: 60px;
    left: 150px;
    top: 1273px;
}


/* Vector */
#n349_14812{
    background: rgb(223, 234, 251);
    left: 181.878px;
    width: 10.0177px;
    top: 1291.73px;
    height: 10.018px;
}

/* Vector */
#n349_14813{
    background: rgb(69, 161, 252);
    left: 168.73px;
    width: 20.0357px;
    top: 1294.86px;
    height: 20.0354px;
}

/* Vector */
#n349_14814{
    background: rgb(255, 255, 255);
    left: 160.591px;
    width: 5.00885px;
    top: 1317.4px;
    height: 5.00885px;
}

/* Vector */
#n349_14815{
    background: rgb(255, 255, 255);
    left: 177.495px;
    width: 5.00916px;
    top: 1317.4px;
    height: 5.00885px;
}

/* Vector */
#n349_14816{
    background: rgb(255, 255, 255);
    left: 194.401px;
    width: 5.00885px;
    top: 1317.4px;
    height: 5.00885px;
}

/* Vector */
#n349_14817{
    background: rgb(255, 255, 255);
    left: 194.401px;
    width: 5.00885px;
    top: 1300.5px;
    height: 5.00916px;
}

/* Vector */
#n349_14818{
    background: rgb(255, 255, 255);
    left: 194.401px;
    width: 5.00885px;
    top: 1283.59px;
    height: 5.00885px;
}

/* Vector */
#n349_14819{
    background: rgb(255, 255, 255);
    left: 177.495px;
    width: 5.00916px;
    top: 1283.59px;
    height: 5.00885px;
}

/* Vector */
#n349_14820{
    background: rgb(255, 255, 255);
    left: 160.591px;
    width: 5.00885px;
    top: 1283.59px;
    height: 5.00885px;
}

/* Vector */
#n349_14821{
    background: rgb(255, 255, 255);
    left: 160.591px;
    width: 5.00885px;
    top: 1300.5px;
    height: 5.00916px;
}

/* Vector */
#n349_14822{
    background: rgb(255, 255, 255);
    left: 170.608px;
    width: 1.25214px;
    top: 1304.29px;
    height: 1.18103px;
}

/* Vector */
#n349_14823{
    background: rgb(255, 255, 255);
    left: 175.617px;
    width: 1.25244px;
    top: 1306.79px;
    height: 1.18073px;
}

/* Vector */
#n349_14824{
    background: rgb(255, 255, 255);
    left: 178.122px;
    width: 1.25214px;
    top: 1309.3px;
    height: 1.18103px;
}


/* Vector */
#n349_14826{
    background: rgb(50, 68, 87);
    left: 193.81px;
    width: 6.18988px;
    top: 1283px;
    height: 6.18988px;
}

/* Vector */
#n349_14827{
    background: rgb(50, 68, 87);
    left: 160px;
    width: 6.18988px;
    top: 1316.81px;
    height: 6.18988px;
}

/* Vector */
#n349_14828{
    background: rgb(50, 68, 87);
    left: 176.905px;
    width: 6.18988px;
    top: 1316.81px;
    height: 6.18988px;
}

/* Vector */
#n349_14829{
    background: rgb(50, 68, 87);
    left: 160px;
    width: 23.0951px;
    top: 1283px;
    height: 23.0951px;
}

/* Vector */
#n349_14830{
    background: rgb(50, 68, 87);
    left: 193.81px;
    width: 6.18988px;
    top: 1299.91px;
    height: 23.0948px;
}

/* Vector */
#n349_14831{
    background: rgb(50, 68, 87);
    left: 185.009px;
    width: 1.25244px;
    top: 1285.5px;
    height: 1.18103px;
}

/* Vector */
#n349_14832{
    background: rgb(50, 68, 87);
    left: 187.513px;
    width: 1.25214px;
    top: 1285.5px;
    height: 1.18103px;
}

/* Vector */
#n349_14833{
    background: rgb(50, 68, 87);
    left: 190.018px;
    width: 1.25244px;
    top: 1285.5px;
    height: 1.18103px;
}

/* Vector */
#n349_14834{
    background: rgb(50, 68, 87);
    left: 168.73px;
    width: 1.25214px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14835{
    background: rgb(50, 68, 87);
    left: 171.234px;
    width: 1.25214px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14836{
    background: rgb(50, 68, 87);
    left: 173.739px;
    width: 1.25244px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14837{
    background: rgb(50, 68, 87);
    left: 185.635px;
    width: 1.25214px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14838{
    background: rgb(50, 68, 87);
    left: 196.279px;
    width: 1.25214px;
    top: 1291.14px;
    height: 1.18073px;
}

/* Vector */
#n349_14839{
    background: rgb(50, 68, 87);
    left: 196.279px;
    width: 1.25214px;
    top: 1293.64px;
    height: 1.18103px;
}

/* Vector */
#n349_14840{
    background: rgb(50, 68, 87);
    left: 196.279px;
    width: 1.25214px;
    top: 1296.15px;
    height: 1.18073px;
}

/* Vector */
#n349_14841{
    background: rgb(50, 68, 87);
    left: 162.469px;
    width: 1.25214px;
    top: 1313.68px;
    height: 1.18103px;
}

/* Vector */
#n349_14842{
    background: rgb(50, 68, 87);
    left: 162.469px;
    width: 1.25214px;
    top: 1311.18px;
    height: 1.18103px;
}

/* Vector */
#n349_14843{
    background: rgb(50, 68, 87);
    left: 162.469px;
    width: 1.25214px;
    top: 1308.67px;
    height: 1.18073px;
}

/* Vector */
#n349_14844{
    background: rgb(50, 68, 87);
    left: 188.14px;
    width: 1.25214px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14845{
    background: rgb(50, 68, 87);
    left: 190.644px;
    width: 1.25214px;
    top: 1319.31px;
    height: 1.18073px;
}

/* Vector */
#n349_14846{
    background: rgb(50, 68, 87);
    left: 168.14px;
    width: 21.2164px;
    top: 1294.27px;
    height: 21.2164px;
}

/* Vector */
#n349_14847{
    background: rgb(50, 68, 87);
    left: 181.288px;
    width: 11.1987px;
    top: 1291.14px;
    height: 11.1987px;
}

/* Vector */
#n349_14848{
    background: rgb(50, 68, 87);
    left: 175.617px;
    width: 1.25244px;
    top: 1304.29px;
    height: 1.18103px;
}

/* Vector */
#n349_14849{
    background: rgb(50, 68, 87);
    left: 173.113px;
    width: 1.25214px;
    top: 1304.29px;
    height: 1.18103px;
}

/* Vector */
#n349_14850{
    background: rgb(50, 68, 87);
    left: 175.617px;
    width: 1.25244px;
    top: 1309.3px;
    height: 1.18103px;
}



/* Vector */
#n349_14869{
    background: rgb(255, 255, 255);
    left: 12.5997%;
    right: 85.4942%;
    top: 1.01%;
    bottom: 98.64%;
}

/* Vector */
#n349_14870{
    background: rgb(255, 255, 255);
    left: 14.8645%;
    right: 83.2716%;
    top: 1.1%;
    bottom: 98.64%;
}

/* Vector */
#n349_14871{
    background: rgb(255, 255, 255);
    left: 16.9887%;
    right: 81.5764%;
    top: 1%;
    bottom: 98.64%;
}

/* Vector */
#n349_14872{
    background: rgb(255, 255, 255);
    left: 18.6908%;
    right: 79.3749%;
    top: 1.1%;
    bottom: 98.54%;
}

/* Vector */
#n349_14873{
    background: rgb(255, 255, 255);
    left: 20.829%;
    right: 77.3141%;
    top: 1.1%;
    bottom: 98.64%;
}

/* Vector */
#n349_14874{
    background: rgb(255, 255, 255);
    left: 23.1853%;
    right: 75%;
    top: 1.01%;
    bottom: 98.64%;
}



/* Vector */
#n349_14877{
    background: rgb(255, 255, 255);
    left: 8.37952%;
    right: 89.0813%;
    top: 0.98%;
    bottom: 98.52%;
}


/* Vector */
#n349_14879{
    background: rgb(255, 255, 255);
    left: 8.61162%;
    right: 90.3896%;
    top: 0.79%;
    bottom: 99.09%;
}


/* Vector */
#n349_14881{
    background: rgb(255, 255, 255);
    left: 5.83333%;
    right: 91.6205%;
    top: 0.98%;
    bottom: 98.53%;
}


/* Vector */
#n349_14883{
    background: rgb(255, 255, 255);
    left: 6.90947%;
    right: 92.0918%;
    top: 0.79%;
    bottom: 99.09%;
}


/* Ellipse 3 */
#n349_14885{
    width: 22px;
    height: 22px;
    box-shadow: rgba(73, 87, 108, 0.1) 0px 4px 5px 0px;
    left: 297px;
    top: 1836px;
}

/* icon */
#n349_14886{
    background: rgb(69, 161, 252);
    left: 306.013px;
    width: 4.5787px;
    top: 1843.2px;
    height: 7.87786px;
}


/* Ellipse 12 */
#n349_17124{
    width: 40px;
    height: 40px;
    left: 256px;
    top: 2167px;
}


/* Ellipse 13 */
#n349_17126{
    width: 30.6275px;
    height: 30.6275px;
    left: 261.07px;
    top: 2171.77px;
}

/* Female-Black-African-Student-Smiling-1 1 */
#n349_17127{
    background-image: url("https://s3-alpha-sig.figma.com/img/de4a/9530/f5cf4ce281634d3eeb60c4d8a3d30a36?Expires=1580083200&Signature=S2csPc4WxZcLinGRPSOGkZ~xynCfV6n8mVQQzY0P0GM8owpy1iXknMf3NURqzK3cuGHmo9vnxGiQUXNmFHy5HqxE2kFovveID3dudF62MTG9pI72lP5-QEBZwXnxGW0WPHIj3wceecdJXHhyWUlzLoSIiB0vSYshFn8wxkZuxFConGOrhsrwHg2i1z4Hx2SRRLhr1eLfJEX77KI2dMkDz22mJisFxmGICT0XVd4zj08xxTnqeeEKZgwHN3~bAO9ZHnZnovZIIKKP0TNgfmBfSnYvmoI0FHczPXYSuHgGOh1sMO6lq4qyySFakC0ZePUnzFf9IUjaxEW2jxBCsi9b4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 245.359px;
    width: 46.3389px;
    top: 2171.57px;
    height: 30.8263px;
}


/* Ellipse 20 */
#n349_17129{
    width: 40px;
    height: 40px;
    left: 296px;
    top: 2210px;
}


/* Ellipse 21 */
#n349_17131{
    width: 30.4225px;
    height: 30.4225px;
    left: 300.789px;
    top: 2214.79px;
}

/* 200284770-001 1 */
#n349_17132{
    background-image: url("https://s3-alpha-sig.figma.com/img/71f2/b921/1bdc7dfb0d4ff69a99132904a772cb63?Expires=1580083200&Signature=g4uVbYwWXHTUZwhNHHawHGduWo-EE3vV13XOHX70e482aZr3uQiHzXcLF1hMQ1RuN29msCnwRhNdymj2FrgoEKHbX0S7ulIoj9gQvr6ZeMlXpKgylcR0YrKkIjoYFMC5HxhhbREUxB6hBs2~0LimXBjGgp6EmfqualuIuz6O6LN8NezMVww6eTm7cC7KO41V8OOMoQWgQ2AEPPYGKLpT~dZJBoF3i-JFDaEDmfkbMrMkYglEswcAM262v9C~4d3Htzry~sucuMvrjbA3nnPzcQ~r8xhejJVewbbaBFOL2thSwozO-~okCavjAi1XNBSetTHPbXlr48l3elIStdrpyw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 300.727px;
    width: 30.5455px;
    top: 2214.73px;
    height: 41.0909px;
}


/* Ellipse 12 */
#n349_17134{
    width: 40px;
    height: 40px;
    left: 256px;
    top: 2258px;
}


/* Ellipse 13 */
#n349_17136{
    width: 30.6275px;
    height: 30.6275px;
    left: 261.07px;
    top: 2262.77px;
}

/* Female-Black-African-Student-Smiling-1 1 */
#n349_17137{
    background-image: url("https://s3-alpha-sig.figma.com/img/de4a/9530/f5cf4ce281634d3eeb60c4d8a3d30a36?Expires=1580083200&Signature=S2csPc4WxZcLinGRPSOGkZ~xynCfV6n8mVQQzY0P0GM8owpy1iXknMf3NURqzK3cuGHmo9vnxGiQUXNmFHy5HqxE2kFovveID3dudF62MTG9pI72lP5-QEBZwXnxGW0WPHIj3wceecdJXHhyWUlzLoSIiB0vSYshFn8wxkZuxFConGOrhsrwHg2i1z4Hx2SRRLhr1eLfJEX77KI2dMkDz22mJisFxmGICT0XVd4zj08xxTnqeeEKZgwHN3~bAO9ZHnZnovZIIKKP0TNgfmBfSnYvmoI0FHczPXYSuHgGOh1sMO6lq4qyySFakC0ZePUnzFf9IUjaxEW2jxBCsi9b4Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 245.359px;
    width: 46.3389px;
    top: 2262.57px;
    height: 30.8263px;
}


/* Ellipse 7 */
#n349_14852{
    width: 60px;
    height: 60px;
    left: 150px;
    top: 1488px;
}


/* Vector */
#n442_246{
    background: rgb(30, 137, 243);
    left: 51.8766%;
    right: 45.1716%;
    top: 51.81%;
    bottom: 47.95%;
}

/* Vector */
#n442_248{
    background: rgb(29, 132, 233);
    left: 52.6145%;
    right: 45.9096%;
    top: 51.58%;
    bottom: 48.25%;
}

/* Vector */
#n442_250{
    background: rgb(165, 210, 255);
    left: 45.1629%;
    right: 51.8853%;
    top: 51.81%;
    bottom: 47.95%;
}

/* Vector */
#n442_252{
    background: rgb(165, 210, 255);
    left: 45.9009%;
    right: 52.6233%;
    top: 51.58%;
    bottom: 48.25%;
}

/* Vector */
#n442_254{
    background: rgb(69, 161, 252);
    left: 48.5198%;
    right: 48.5285%;
    top: 51.06%;
    bottom: 48.7%;
}

/* Vector */
#n442_256{
    background: rgb(69, 161, 252);
    left: 49.2577%;
    right: 49.2664%;
    top: 50.83%;
    bottom: 49%;
}

/* Vector */
#n442_258{
    background: rgb(50, 69, 87);
    left: 51.7137%;
    right: 45.0088%;
    top: 51.79%;
    bottom: 47.94%;
}

/* Vector */
#n442_259{
    background: rgb(50, 69, 87);
    left: 52.4516%;
    right: 45.7467%;
    top: 51.56%;
    bottom: 48.24%;
}

/* Vector */
#n442_260{
    background: rgb(50, 69, 87);
    left: 45%;
    right: 51.7225%;
    top: 51.79%;
    bottom: 47.94%;
}

/* Vector */
#n442_261{
    background: rgb(50, 69, 87);
    left: 45.7379%;
    right: 52.4604%;
    top: 51.56%;
    bottom: 48.24%;
}

/* Vector */
#n442_262{
    background: rgb(50, 69, 87);
    left: 48.3569%;
    right: 48.3656%;
    top: 51.05%;
    bottom: 48.69%;
}

/* Vector */
#n442_263{
    background: rgb(50, 69, 87);
    left: 49.0948%;
    right: 49.1036%;
    top: 50.81%;
    bottom: 48.98%;
}

/* Vector */
#n442_264{
    background: rgb(50, 69, 87);
    left: 48.3838%;
    right: 48.389%;
    top: 51.39%;
    bottom: 48.25%;
}

/* credit_card_24px */
#n349_17138{
    width: 17px;
    height: 17px;
    left: 53px;
    top: 548px;
}

/* icon/action/credit_card_24px */
#nI349_17138-142_2{
    background: rgb(69, 161, 252);
    left: 8.33345%;
    right: 8.33321%;
    top: 16.67%;
    bottom: 16.67%;
}

/* credit_card_24px */
#n349_17139{
    width: 17px;
    height: 17px;
    left: 53px;
    top: 635px;
}

/* icon/action/credit_card_24px */
#nI349_17139-142_2{
    background: rgb(69, 161, 252);
    left: 8.33345%;
    right: 8.33321%;
    top: 16.67%;
    bottom: 16.67%;
}


/* Vector */
#n349_17141{
    left: 57.037%;
    right: 39.8151%;
    top: 18.74%;
    bottom: 80.89%;
}

/* Vector */
#n349_17142{
    left: 56.4815%;
    right: 40.9259%;
    top: 18.87%;
    bottom: 80.82%;
}

/* Vector */
#n349_17143{
    left: 57.7778%;
    right: 40.6481%;
    top: 19.02%;
    bottom: 80.98%;
}


/* Vector */
#n349_17146{
    left: 56.713%;
    right: 40.0463%;
    top: 21.68%;
    bottom: 78.16%;
}

/* Vector */
#n349_17147{
    left: 56.713%;
    right: 40.0463%;
    top: 21.93%;
    bottom: 77.99%;
}

/* Vector */
#n349_17148{
    left: 56.713%;
    right: 40.0463%;
    top: 21.84%;
    bottom: 78.07%;
}


/* image 22 */
#n476_5{
    background-image: url("https://s3-alpha-sig.figma.com/img/559d/35cf/cad23fc54099128230e3b7b449841568?Expires=1580083200&Signature=LdWS8nbD79ZYApWuZxMjFUESesOieyfQh1r~Y0KwEZ-ut3Kmrb1DSedt4kIhfI42X3jg9GTI582AJB~CHtQIbbjbKoHEdR3ts8SjKPcyaL0xpGqtJhYi4pbAwBM5EvrQ7b4qdl4-2Xqst9XpSPJ5XKD2bFqVc-JfxE62ZTkAHuGwpcYGpN0MyDd629~~l5tYrU8YQ2cV1BV9kp8HsqWlVHroPFQ7ajBmnx-1PdS1gRvsasHaU9gH-YLYKJ1BXmsSzbKnxvMU5ursAlLH6AbZVuFkIacy7UUXYRFJvqDsUtllkvQKin5QP5r24U~MNmAhmjghO35bP9UwI9P9aWaHXA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 220.091px;
    width: 52px;
    top: 2018px;
    height: 52px;
}

/* image 23 */
#n476_7{
    background-image: url("https://s3-alpha-sig.figma.com/img/4f0f/ed78/c22ae79f90f4d8b1cde21c58244e3595?Expires=1580083200&Signature=ZvohKuVrh2y25ym8L6~geIbkNkJ3qMAI4Gl5hqVyGOaIDuNZMboG3sM4o0qXkebuO8wtmZ4bj1qWNSNSv0Rl4bfdqxsBAGV6blKVMDEamYYHsDk-CPqB1gMbTTDGX~IKO9qj~VFQN6ZLGbRWvuC~~iPfb~IOwp429bwrTUMQGKkbeFiZExXBoDgNeVfPNRKVHa4RMYjP6FB34924u5~vVYcC48gWGd8GHMiUUCbY2GgHF7RSDi422F6orPZ3F2l0-3LkhbfCXIbc4FVJ0hYZOKOx8ytO4QSnCP8Ch88y5C~XqLk0yDfN21fpyOThtgNjJnN5dvJY4W1ZzMMcp54RgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 27.4545px;
    width: 37.8182px;
    top: 2025.09px;
    height: 37.8182px;
}

/* image 24 */
#n476_9{
    background-image: url("https://s3-alpha-sig.figma.com/img/016b/f8b2/c899ea3ddd96d7a9f025868e23763b80?Expires=1580083200&Signature=f2OQtKkHjrxs7HOO8SHV1zBMK6duTdT32-HS-d7eUnMt0y3mZL~hinq66PLbB-FrSoV-tWOMcNmMomi7TZf1xXjgs3jFRjOtdub4c8eY7jFgO1AzYYsPWVPAvGQfbWsjidD7aAaB30r2R7x9AhyhYApXoTXTKK06EvbSyjpOqDqczyijJcnf-yOUpevOGCWOl31icZpPhPlK46biVhNzFr4OYmB4AEoxE2faoOiE8158uYCigHjGoJ5o9p8qo9AoAqTjmk937oEzenFBp5fvXClOmtTV8YX3-T5ZU1BIVN6~wCL0073Vdcajr4hZP4kRBSSxqxDRVtqQjSlVNKDwUA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 294.545px;
    width: 39px;
    top: 2023.91px;
    height: 39px;
}

/* image 20 */
#n476_1{
    background-image: url("https://s3-alpha-sig.figma.com/img/a4e7/77a7/816f69b782e9e0d98e803f2452acca39?Expires=1580083200&Signature=N-ZZVRRvSa9cPISTi2TwpQhaTtF7SEk6tWbqGAIhEtqS0j2uRDzXks13vl0aJ4OXyWHEsIeBRAChYFqkvk0dLAc6vjxAEhbKseOpAC--SLmYuX2X1TByo5NFbjNc7Bv2YsYx8KiFTNVGH~cnOzBmIv-TbBkWXu3cZl-ABmWPdJf1rACuTx0OI7Rja~XeUuj4zlPdrlndjq64tTmP1QXM-MEXZKYNrup-7Febf0Bnzz7b0IHIIqXoMRMfqixeryqBRJ3easrDvL4dwu0gkJNv3qaz41FHHRLE2V4sAwQlBzRSLyNC7aJI1TSXHzuVbk~Yzvpl7ltW6prIsxVbZb9QoQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 80.6364px;
    width: 61.4545px;
    top: 2027.45px;
    height: 33.0909px;
}

/* image 21 */
#n476_3{
    background-image: url("https://s3-alpha-sig.figma.com/img/31a9/7f85/798d0fbd04be3dd55e4dbd4b67605444?Expires=1580083200&Signature=GugJ7C6~0kMk8zXlc5coxSqn9vDy5uFJif0Z8ijSPh3rcLUVp0k6y7ypnRTGyKBPTLgTlTTYmjothU7-WJdLr3ieQbMqMfsacXevD69THa71l44XITchKM3eNIv2T5vsfcaM7Hq-hMKOrKn5T7LA8ZW19lcF~r8XgWXmCyzn4SrkuF2uCiNYyIrsnUdKxMiPznC5wzq3rPDcJj8ACCsxvOMt3mAaX03TzeRjqIY~mjEm6G9rVd5otEGwZSGfqgn~OhWKtana4uN74Fm6m1~tiADBUL8bzHS1QVlubs7xZ23vxfVXdoXDgY8pXvyif8NP~YVh30trg~jBeyKHe3B04g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 149.182px;
    width: 61.4545px;
    top: 2028.64px;
    height: 30.9655px;
}

/* icon */
#n503_10702{
    background: rgb(255, 255, 255);
    left: 75.8333%;
    right: 19.7226%;
    top: 0.92%;
    bottom: 98.54%;
}
